.mediaViewInfo {
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Login {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Login_g {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Messege{
    width: 40%;
    height: 40%;
    left: 30%;
    top:30%;
    position:absolute;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:black;
}
a{
    color: white;
}